body {
	background-color: 000000;
	font-family:'Avenir';
}	

h1 {
	color: gray;
}
p {
	color: gray;
}

.jumbotron img {
	height: 75%;
	width: 75%;
}
.jumbotron h1 {
	color: white;
}

.jumbotron {
	background-color:#DDDDDD;
	margin-top: 50px;
}

.forecast {
	overflow: hidden;
}

.col-sm-2 {
	padding-bottom: 100%;
	margin-bottom: -100%;
}

